@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>JConf2020 with ASP.NET Core</p>
    <div>
        <img src="~/img/dotnetcore.png" with="300px" height="200px">
        <img src="~/img/plus-sign.png" with="100px" height="100px">
        <img src="~/img/keycloak.png" with="300px" height="200px">
    </div>
</div>
